:root {
  /*변수 고정(global 변수) const*/
  /*Color*/
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color--light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-sky-blue: #2464c4;

  /*Font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /*Font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /*Size*/

  --size-border-radius: 4px;

  /*Animation */
  --animation-duration: 300ms;
}

/*Universal tags*/
* {
  /*모든 태그들을 뜻한다*/
  box-sizing: border-box; /*패딩을 주었을 때 박스안에서 생긴게 하는 것*/
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default; /*글자에 커서를 두어도 text커서로 변하지않음*/
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  ist-style: none;
}

button {
  background-color: transparent; /*투명한 =transparent*/
  cursor: pointer;
  border: none;
  outline: none;
}

/*Typography*/ /*텍스트관련 스타일링*/
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/*Navbar*/
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-sky-blue);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px; /*  상하 , 좌우*/
  cursor: pointer; /*메뉴 아이템에 커서를 놓으면 포인터(손가락 모양)로 바뀜*/
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  /*메뉴 아이템이면서, 엑티브인 자료는...*/
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  /*마우스를 아이템에 올리면 */
  background-color: var(--color-dark-pink);
}

.navbar__toggle-btn {
  position: absolute;
  top: 23px;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/*Home*/
#home {
  background: url("imgs/portfoliobackground.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__descreiption {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/*Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/*About*/
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  margin: auto;
  color: var(--color-blue);
  font-size: 70px; /* 이미지를 어썸폰트에서 갖고 왔으니깐 폰트사이즈를 올리면 사진이 커짐*/
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon:hover i {
  /*.major__icon:hover i 띄어쓰기 유의*/
  /*메이저아이콘에 커서가 올라가면 i태그가~*/
  color: var(--color-dark-grey);
  transform: rotate(30deg) scale(1.1); /*아이콘에 커서가 올라가면 움직이면서 커져라*/
}

.major__icon i {
  /*메이저 아이콘의 i는~*/
  transition: all var(--animation-duration) ease; /*움직이는 시간은 총 300ms이고 ease로 움직이겠다*/
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.School {
  display: flex;
  align-items: center;
}

.school__description {
  margin: 0 16px;
  text-align: left;
}

.school__name,
.school__period {
  color: var(--color--light-grey);
}

.school__name {
  font-size: var(--font-small);
}

.school__period {
  font-size: var(--font-micro);
}

/*Skill*/
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  background-color: var(--color--light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skill {
  margin-bottom: 16px; /*스킬간의 간격*/
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.skillset__title {
  color: var(--color-white);
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.tools,
.etc {
  padding: 20px;
}

/*Work*/

.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1; /*번호를 보이게해줌*/
  top: 0px;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px; /*여기까지만 했을때 타원형 모양을 하고있다 -> span은 전체를 최소로 감싸주기 때문*/
  display: inline-block; /*위롸 같은 문제를 해결해준다*/

  line-height: 24px; /*숫자를 중간에 위치시킨다*/
  position: relative;
  top: -20px;
  left: 4px;

  opacity: 0; /*번호 숨긴 상태*/
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap; /*아이템이 꽉차면 줄바꿈*/
  justify-content: center;
}

.project {
  position: relative; /*project__description의 기준이 되어준다*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 5px;
}

.project__img {
  max-width: 100%;
  max-height: 100%; /*자신이 할당된 부분을 기준으로 크기를 설정함*/
}

.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-dark-grey);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0; /*투명도*/
  transform: translateY(
    10px
  ); /*바운스 느낌 19px위로 올려놓고 hover하면 다시 내림*/
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  transform: translateY(0px);
  opacity: 0.8;
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: dark var(--color-dark-white);
}

/*Testimonial*/
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 60px 0;
  justify-content: center;
  align-items: center;
}
.testimonial__avatar {
  width: 80px;
  height: 80px;
  border-radius: 70%;
}

.testimonial__avatar:nth-child(odd) {
  /*사진의 수가 홀수라면,,,*/
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color--light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-sky-blue);
}

/*Contact*/
#contact {
  background-color: var(--color-sky-blue);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 10px;
  transition: all var(--animation-duration) ease-in;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-black);
}

/*For below 768px screen width*/
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1; /*화면 창이 작을 때 사진의 여백을 자동으로 늘려준다*/
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
